extends layout

block content
  h1= title
  div.row
    div.col-md-8
      p Welcome to #{cname} branch ##{teamnumber}'s lock controller interface
      p There are currently #{count} locks registered with this application.
    div.col-md-4(align="right")
      h3 Loaded Modules
      ul
      for l in providers
        li #{l["provider"]}
