extends layout

block content
    h1.text-center(align="center")= title
    h2.text-center(align="center")= slogan
    div.row
        div.col-md-8
            p Welcome to #{cname} branch ##{teamnumber}'s lock controller interface
            p There are currently #{count} locks registered with this application.
        div.col-md-4(align="right")
            h3 Loaded Modules
            ul
            for l in providers
                li #{l["provider"]}
    p Contact #{email} with questions/complaints
